body {
  background: url(../img/fondoReloj.jpg) no-repeat center fixed;
  background-size: cover;
}

.container-fluid {
  font-family: "Open Sans", sans-serif;
}

.separa {
  width: 100%;
  height: 25px;
}

/* H E A D E R */

.cabecera {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #342a21;
  top: 0;
  position: fixed;
  padding-top: 15px;
  padding-bottom: 17px;
  z-index: 2;
  height: 140px;
}

.cabecera h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.cabecera h1 span {
  align-items: center;
  justify-content: center;
}

.titulo {
  letter-spacing: 3px;
  text-align: center;
  color: #a0906f;
}

.tomatoImg {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

/* C U E R P O   D E  L A  P A G I N A */

.fondoCrono {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(160, 144, 111, 0.65);
  /* Suaviza foto de fondo */
  height: 100vh;
  /* #FCE2C7 */
}

#crono {
  display: flex;
}

#estadoCrono {
  margin: 0;
  font-size: 21px;
}

.contador {
  font-size: 90px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #fce2c7;
  color: #342a21;
}

#dosPuntosContador {
  margin-top: -10px;
  margin-left: 12px;
  margin-right: 12px;
}

/* btn play, pause y stop */

.divBtnCss {
  display: flex;
  flex-direction: row;
  padding-bottom: 70px;
}

.btnCss {
  padding: 10px;
  width: 80px;
  height: 50px;
  color: #fce2c7;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: #342a21;
  box-shadow: 2px 2px 10px black;
}

#btnPausa {
  margin-left: 10px;
  margin-right: 10px;
}

.btnCss:hover {
  box-shadow: 3px 3px 20px black;
}

/* C I C L O   P O M O D O R O */

#fondoCicloPomodoro {
  background-color: #342a21;
  color: #a0906f;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#fondoCicloPomodoro {
  margin: 0;
}

#cicloPomodoro {
  font-size: 18px;
  margin-top: 0px;
}

/* contenedor pinta pomodoros*/

#bordeBarra {
  display: flex;
  justify-content: center;
}

#barraEstado1,
#barraEstado2,
#barraEstado3,
#barraEstado4 {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
}

/* B T N   A L A R M A  */

#btnAlarma {
  width: 200px;
  height: 50px;
  color: #a0906f;
  border: 2px solid #a0906f;
  background-color: #342a21;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 21px;
  box-shadow: 0px 0px 10px black;
}

#alarma button:hover {
  box-shadow: 0px 0px 20px black;
}

#alarma {
  visibility: hidden;
  /* display: none; */
  margin-bottom: 15px;
  z-index: 999;
}

/* F O O T E R */

.bottomFixed {
  width: 100%;
  bottom: 0px;
  position: fixed;
}

#footer {
  background-color: #3c3837;
  color: #a0906f;
  font-size: 15px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

#btnSobre {
  /* enlace a wiki - técnica pomodoro */
  color: #a0906f;
  text-decoration: none;
}

#btnSobre:hover {
  text-decoration: underline;
}

/* tictac sound on/off */

.tic-tac-on-off-position {
  position: absolute;
  top: 0;
  right: 20px;
  color: #a0906f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tictacStyle {
  font-size: 25px !important;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .contador {
    font-size: 75px;
  }
  .tic-tac-on-off-position {
    position: relative;
    padding: 0px;
    padding-top: 10px;
    right: 0;
  }
  .cabecera h1 {
    font-size: 35px;
  }

  .cabecera {
    height: auto;
  }

  .btnCss {
    width: 55px;
  }
  #barraEstado1,
  #barraEstado2,
  #barraEstado3,
  #barraEstado4 {
    width: 35px;
    height: 35px;
    background-size: 18px 18px;
  }
}

@media screen and (max-width: 425px) {
  #titulo {
    font-size: 25px;
    padding: 10px;
  }
  .contador {
    font-size: 60px;
  }
  #estadoCrono {
    font-size: 16px;
  }
  .tomatoImg {
    width: 30px;
    height: 30px;
  }
  #cicloPomodoro {
    font-size: 16px;
  }
}
